
        body{
	    background: #0000;
        }
        .header-line{
            width: 100%;
            height: 4px;
            background: #DDDDEE;
        }
        .content{
            width: 30%;
            margin: 70px auto 0;
            text-align: center;
        }
        .content-title{
            margin: 10px 0 25px 0;
            font-size: 2em;
            color: #000000;
            font-weight:normal;
        }
        .content-form{
            width: 100%;
            height: 30%;
            padding: 36px 0 20px;
            border: 2px solid #bbb8b800;
            border-radius: 5px;
            text-align: center;
            opacity: 0.7;
        }
        .content-form form div {
            margin-bottom: 19px;
        }
        .content-form .user,
        .content-form form .password {
            width: 77%;
            height: 20px;
            padding: 10px;
            font-size: 1em;
            border: 1px solid #cccbcc;
            border-radius: 7px;
            letter-spacing: 1px;
        }
        .content-form form input:focus{
            outline: none;
            box-shadow: 0 0 5px #00eeee;
        }
        .content-form-signup{
            width: 84px;
            margin: 0 auto;
            padding: 10px;
            border: 1px solid #808080;
            border-radius: 7px;
            font-size: 1em;
            font-weight: bold;
            color: #f7f7f7e6;
	    background: #a7c6be;
            cursor: pointer;
        }
        .content-form-signup:focus {
            background: #0a0a0a21;
        }
        .content-login-description{
            margin-top: 25px;
            line-height: 1.6;
            text-decoration: none;
            font-size: .91666667rem;
        }
        .content-login-link {
            font-size: 16px;
            color: #dae5e2;
            text-decoration: none;
        }
        #remind_1,
        #remind_2 {
            width: 76%;
            margin: 0 auto 2px;
            text-align: left;
            font-size: .2em;
            color: #f00;
        }
