{% load static %}
<!DOCTYPE html>
<html lang="en" style="background-image:url('{% static 'img/4.jpg' %}')">
{#style="background-color: rgba(133,124,78,0.11);"#}
<head>
    <link rel="icon" href="{% static 'img/title.png' %}" type="image/x-icon"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <title>{% block title %}标题部分{% endblock %}</title>

    {% block css %}
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/daohang.css' %}">
        <style>
            .table-striped > tbody > tr:nth-of-type(odd) {
                background-color: #f1f1f18f;
            }
        .form-control{
        width: 200px;
            display: inline-block;
            }


        </style>
    {% endblock %}

    {% block js %}
        <script src="{% static 'js/jquery-3.3.1.js' %}"></script>

    {% endblock %}

</head>


<body style="background-color: rgba(0, 0, 0, 0);">
<nav style="margin-top: -10px">
    {% block nav %}
        <ul class="hList">
            <li class="lics">
                <a href="{% url 'home' %}" style="text-decoration: none;" class="menu">
                    <h2 class="menu-title">首页</h2>
                    <ul class="menu-dropdown ulcs">
                        <li>发言</li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#click" style="text-decoration: none;" class="menu">
                    <h2 class="menu-title menu-title_2nd">图片</h2>
                    <ul class="menu-dropdown ulcs">
                        <li>文件</li>
                        <li>图片</li>
                        <li>音乐</li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#click" style="text-decoration: none;" class="menu">
                    <h2 class="menu-title menu-title_3rd">音乐</h2>
                    <ul class="menu-dropdown ulcs">
                        <li>文件</li>
                        <li>图片</li>
                        <li>音乐</li>

                    </ul>
                </a>
            </li>
            <li>
                <a href="#click" style="text-decoration: none;" class="menu">
                    <h2 class="menu-title menu-title_4th">注销账户</h2>
                    <ul class="menu-dropdown ulcs">
                        <li>文件</li>
                        <li>图片</li>
                        <li>音乐</li>
                        <li style="color: red">注销账户</li>
                    </ul>
                </a>
            </li>
        </ul>

    {% endblock %}
</nav>

<main style="margin: 15px;">{% block content %}主体部分{% endblock %}</main>


</body>


</html>
