{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body {
            background-color: #ddd;
        }
    </style>

{% endblock %}
{% block nav %}
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="form-group">
                <input id="con" type="text" class="form-control" placeholder="请输入你想说的话" name="content">
            </div>
            <button type="submit" onclick="from()" class="btn btn-default">发言</button>
            <a type="submit" href="{% url 'upload' %}" class="btn btn-default">上传文件</a>
        </div>
    </nav>
{% endblock %}


{% block content %}
    <div style="border-style: solid; color: #ddd;">
        {% if msg == True %}
            <a style="float: right; color: black;">欢迎到来，{{ user_name }}</a>
        {% endif %}
    </div>
    <h1 style="align-content: center; font-family:楷体; size: auto">
        {% if msg == "wxy" %}
            {{ data }}
        {% endif %}
    </h1>
    <div>
        {% for foo in content %}
            <div>{{ foo.content }} <span>{{ foo.timestamp }}</span></div>
        {% endfor %}
    </div>

{% endblock %}


{% block js %}

    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript">
        function from() {
            var con = document.getElementById('con').value;
            if (!con) {
                request.abort();
            }

            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
            });

            $.ajax({
                type: "POST",
                url: "{% url 'home' %}",
                dataType: "json",
                data: {'content': $('#con').val()},
                success: function (result) {
                    if (result.success == "true") {
                        alert(result.content)
                    } else if (result.success == 'false') {
                        alert('cuo')
                    }
                }
            });
        }
    </script>

{% endblock %}