{% extends 'base.html' %}
{% load static %}

{% block title %}登录{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/style-css.css' %}">{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div style="color: #99000c; text-align: center; margin-top: 3%">{{ content }}&nbsp;</div>

<div class="content">
    <h1 class="content-title" style="color: #33333388">登录</h1>
    <div class="content-form">
        <form id="form_sample_eventAdd" action="{% url 'login' %}" method="POST" onsubmit="return submitTest('login')">
            {% csrf_token %}
            <div id="change_margin_1">
                <input id="input1" type="text" class="user" name="name" placeholder="请输入用户名" onblur="oBlur_1()"
                       onfocus="oFocus_1()">
            </div>
            <p id="remind_1"></p>
            <div id="change_margin_2">
                <input id="input2" class="password" type="password" name="psw" placeholder="请输入密码" onblur="oBlur_2()"
                       onfocus="oFocus_2()">
            </div>
            <p id="remind_2"></p>
            <div id="change_margin_3">
                <input class="content-form-signup" type="submit" value="登录">
            </div>
        </form>
    </div>
    <div class="content-login-description">没有账号？</div>
    <div><a href="{% url 'regist' %}" class="content-login-link">注册</a></div>
</div>
    <div style="margin-top: 20px;text-align:  center;color:  red;">
    <span>
        {% if msg == "301" %}
        {{ data }}
        {% endif %}
    </span>
    </div>
{% endblock %}


{% block js %}
<script src="../static/js/fun-JS.js"></script>
{% endblock %}
